@import url('styles/variables.css');

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding-left: var(--space-l);
    padding-right: var(--space-l);
    border: none;
    background-color: var(--brand);
    color: var(--button-text);
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: sans-serif;
    letter-spacing: 0.035rem;

    &:hover:not(.button--disabled):not(.button--loading) {
        background-color: var(--brand-hover);
    }

    &--disabled {
        background-color: var(--disabled);
        cursor: not-allowed;
    }

    &--loading {
        cursor: wait;
    }

    &__content {
        display: flex;
        align-items: center;
    }
}