@import url('styles/variables.css');

.multiDropdown {
    position: relative;
    width: 100%;

    &__options,
    &__noOptions {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        max-height: 200px;
        overflow-y: auto;
        background: var(--background);
        box-shadow: var(--box-shadow);
        z-index: 1000;
        margin-top: var(--space-xss);
        padding: 0;
    }

    &__noOptions {
        padding: var(--space-s);
    }

    &__option {
        display: flex;
        align-items: center;
        padding: var(--space-s);
        color: var(--text-primary);
        font-size: 16px;
        font-family: sans-serif;
        cursor: pointer;

        &:hover {
            color: var(--text-secondary);
        }

        &--selected {
            color: var(--brand);
        }
    }

    &__input {
        svg {
            margin-top: 15px;
        }
    }
}