@import url('styles/variables.css');


:root {
  background-color: var(--products-page-background-color);
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: var(--text-primary);
}